<button type="button"
        class="btn btn-primary m-3"
        (click)="OnCreateStudent()"
>
  Create
</button>
<button type="button"
        class="btn btn-primary m-3"
        (click)="OnUpdateStudent()"
>
  Update
</button>

<button type="button"
        class="btn btn-primary m-3"
        (click)="OnGetStudents()"
>
  GetAll
</button>
<button type="button"
        class="btn btn-danger m-3"
        (click)="OnDeleteStudents()"
>
  Delete
</button>
<br>
<br>
Students : {{students|json}}
<br>
